docx2txt==0.8
faiss-cpu==1.10.0
langchain-community==0.3.16
langchain-core==0.3.33
langchain-ollama==0.2.3
networkx==3.4.2
numpy==2.2.2
pandas==2.2.3
pydantic==2.10.6
pymupdf==1.25.2
pypdf==5.2.0
rank-bm25==0.2.2
requests==2.32.3
sentence-transformers==3.4.1
streamlit==1.41.1
torch==2.6.0
tqdm==4.67.1
